<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout( ~{::title}, ~{::section} ) }">
<head>
    <meta charset="UTF-8">
    <title>Home:: Take Note</title>
</head>

<style>




</style>

<body>

<section>
    <h2 class="fw-bold text-center">Write it down or risk forgetting it forever. 📓</h2>
    <div class="container-fluid p-0 m-0" id="wasimbg">

        <img alt="Take Notes Background Image" src="/img/pexels-tara-winstead-8383497.jpg" height="100%" width="100%">
    </div>
</section>

</body>
</html>